body{
    background-color: beige;
}
.active{
    background-color: beige;
}
input,
button{
    border-radius: 5px;
}
/* header styles starts */
.navbar-fixed-top{
    background-color: aqua;
}
#header-image{
    margin-top: 5px;
    margin-right: 20px;
}
/* header styles ends */
/* content styles starts */
#content{
    margin-top: 70px;
    margin-bottom: 60px;
}
/* content styles ends */
/* login form styles starts*/
.login-form{
    border: 2px solid black;
    padding: 30px;
    border-radius: 5px;
}
input.ng-dirty.ng-invalid{
    border: 2px solid red;
}
/* login form styles ends*/
/* home section styles starts*/
#home-section-image{
    background-image: url(../../images/restaurants_bg.jpg);
    height: 400px;
    background-position: center;
    position: relative;
}
#home-section-image-text{
    position: absolute;
    top:130px;
    left: 300px;
    color: white;
    font-weight: bolder;
}
.search-restaurant,
.search-restaurant-button{
    width: 100%;
}
.search-restaurant-section{
    margin-top: 15px;
}
div[class="row restaurant-list-section"],
#current-restaurant-detalis{
    margin-top: 20px;
}
#restaurant-name{
    color: red;
    text-decoration: none;
}
.text-colour-grey{
    color: dimgrey;
}
.items,
.item{
    position: relative;
}
#ratting-tag,
#current-ratting-tag{
    background-color: green;
    color: white;
    width: 40px;
    height: 30px;
    padding: 5px 0px;
    padding-left: 10px;
    border-radius: 5px;
    position: absolute;
    right: 15px;
    top: 15px;
}
/* home section ends starts*/
/* footer style starts */
.navbar-fixed-bottom{
    background-color: black;
    color: white;
}
/* footer style ends */