<!-- login controller starts here -->
<div ng-controller="loginController" class="row">
    
    <div class="col-sm-6 col-sm-offset-3">
        
        <h1 class="text-center">Login</h1>
        
        <!-- form starts here -->
        <form class="login-form" name="loginForm">
            
            <!-- email input field -->
            <div class="form-group">
               <label for="login-input-email">Email address</label>
                <input type="email" class="form-control" name="userEmail" id="login-input-email" placeholder="Email" required ng-model="user.email">
                <div ng-if="loginForm.userEmail.$dirty">
                    <div ng-if="loginForm.userEmail.$error.email">Enter a valid email</div>
                    <div ng-if="loginForm.userEmail.$error.required">Email is required</div>
                </div>    
            </div>
            
            <!-- password inputt field -->
            <div class="form-group">
                <label for="login-input-password">Password</label>
                <input type="password" class="form-control" name="userPassword" id="login-input-password" placeholder="Password" required minlength="6" ng-model="user.password">
                <div ng-if="loginForm.userPassword.$dirty">
                    <div ng-if="loginForm.userPassword.$error.required">Password is required</div>
                    <div ng-if="loginForm.userPassword.$error.minlength">Minimum 6 characters required</div>
                </div>    
            </div>
          
            <!-- submit button -->
            <button type="submit" class="btn btn-default" ng-disabled="loginForm.$invalid" ng-click="goToHome(user)">Submit</button>
        
        </form>
        <!-- form ends here -->
        
    </div>
    
</div>
<!-- login controller ends here -->